:root
{
  --color-primary: black;

  --fz-primary: 16px;
  --fz-header-nav: 19px;

  --ff-secondary: 'Playfair Display', serif;
  --ff-primary: 'Quicksand', sans-serif;

  --fw-primary: 400;

  --width-screen: 70%;

  --gap-header-nav: 70px;
  --gap-news-card-container-primary: 35px;

  --padding-header: 30px 0;
}